<div class="jumbotron">
    <h1>Teste - Utilização do ASP.NET Web API</h1>
    <p class="lead">Exemplo simples envolvendo a criação de uma aplicação RESTful com o ASP.NET Web API.</p>
    <p><a href="http://www.asp.net/web-api" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET Web API</h2>
        <p>
            Clique no link API para obter uma relação dos métodos da aplicação TesteWebAPI.Services
            que estão disponíveis para utilização.
        </p>
    </div>
</div>
